<header>
  <%=  image_tag("Logo.jpg", :alt => "Tu będzie logo!",:class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sing in", '#' %></li>
    </ul>
  </nav>
</header>