<!DOCTYPE html>
<html>
<head>
  <title>
    Ruby on Rails Tutorial Sample App | <%=@title%>
    <%= csrf_meta_tag %>
  </title>
        <body>
            <%= yield  %>
        </body>
</head>



</html>